.task {

    padding-top: 3px;
    padding-left: 3px;
    border-radius: 3px;

}

.task .task-check {
    font-size: 24px;
    font-weight: normal;
    color: #dadada;
    width: 24px;
}

.task .task-controls {
    font-size: 16px;
    margin-right: 10px;
}

.task .task-controls .fa {
    font-size: 16px;
    margin-right: 5px;
}

.task .task-controls a {
    color: #999;
}

.task .task-controls a:hover {
    color: #3b4854;
}

.task .task-title {
    margin: 2px 7px 0 7px;
}

.task-completed {
    color: #bebebe;
    text-decoration: line-through;
}

.task .label {
    margin-left: 7px;
}

.panel-mytasks {
    display: block !important;
}