.task {
    padding-top: 6px;
    padding-left: 3px;
    margin-top: 0px !important;
    margin-bottom: 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
}

.task-entry {
    padding-top: 6px;
    padding-left: 8px;
    border-radius: 3px;
    margin-right: 50px;
    margin-top: 0px !important;
    border: 1px solid #ddd;
}

.task .task-check {
    font-size: 24px;
    font-weight: normal;
    color: #dadada;
    width: 24px;
    cursor: pointer;
}

.task .task-controls {
    font-size: 12px;
    margin-right: 10px;
    border-right: 1px solid #eee;
    padding-right: 10px;
}

.task .task-controls:first-of-type{
    font-size: 12px;
    margin-right: 0px;
    border-right: none;
    padding-right: 0px;
}

.task .task-controls .fa {
    font-size: 14px;
    margin-right: 5px;
    margin-top: 4px;
}

.task .task-controls a {
    color: #999;
}

.task .task-controls a:hover {
    color: #3b4854;
}

.task .task-title {
    margin: 2px 7px 0 7px;
}

.panel-mytasks {
    display: block !important;
}

#tasksList .task:last-child {
    border: none;
}

/**
 * Cases for task states
 */
.task[data-task-status="active"] .completed-check,
.task[data-task-status="cancelled"] .completed-check,
.task[data-task-status="deferred"] .completed-check
{
    display:none;
}

.task[data-task-status="completed"] .open-check {
    display:none;
}

.task[data-task-status="cancelled"] .task-title {
    color: #bebebe !important;
    text-decoration: line-through;
}

/**
 * MyTasks Snippets
 */
#tasksList.myTasksSnippet .admin,
#tasksList.myTasksSnippet .comments-link,
#tasksList.myTasksSnippet .assigned-users {
    display:none;
}
#tasksList.myTasksSnippet .assigned-space {
    margin-right: 0px;
    border-right: none;
    padding-right: 0px;
}

/**
 * MyTasks WallEntry
 */
.wall-entry .comments-link {
    display:none;
}

.wall-entry .task .media-body {
    padding-right: 15px;
}
